<form ng-controller="KS.CalendarController" name="calendarForm">
    <div class="fullWidth">
        <label>{{language.startDate}}</label>
        <div class="input-append date datepicker datetime calendarEditor" id="StartDateWrapper" data-inputfield="dtStartDate" data-date="{{data.startDate}}">
            <input type="datetime" data-format="YYYY-MM-DD HH:mm" id="dtStartDate" ng-model="data.startDate" ng-required="true" name="startdate" />
            <span class="add-on">
                <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
            </span>
        </div>
    </div>
    <div class="fullWidth">
        <label>{{language.endDate}}</label>
        <div class="input-append date datepicker calendarEditor" id="EndDateWrapper" data-inputfield="dtEndDate" data-date="{{data.endDate}}">
            <input type="datetime" data-format="YYYY-MM-DD HH:mm" id="dtEndDate" ng-model="data.endDate" name="enddate" />
            <span class="add-on">
                <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
            </span>
        </div>
    </div>
    <span class="help-inline" val-msg-for="enddate" val-toggle-msg="enddateError">{{language.endDateGreaterThanStartDate}}</span>
    <span class="help-inline" val-msg-for="enddate" val-toggle-msg="enddateRequired">{{language.endDateRequired}}</span>
    <div class="fullWidth">
        <label>{{language.recurrence}}</label>
        <select class="full" ng-model="data.recurrence" ng-options="option.id as option.name for option in options"></select>
    </div>
    <div class="fullWidth" ng-show="data.recurrence > '1'">
        <label>{{language.recurUntil}}</label>
        <div class="input-append date datepicker calendarEditor" data-inputfield="dateRecurUntil" id="dateRecurUntilWrapper" data-date="{{data.recurUntil}}">
            <input type="text" ng-model="data.recurUntil" id="dateRecurUntil" data-format="YYYY-MM-DD" name="recurUntil" />
            <span class="add-on"><i class="icon-calendar" data-date-icon="icon-calendar"></i></span>
        </div>
    </div>

    <div class="divider" ng-if="data.recurrence > '1'"></div>

    <div ng-if="data.recurrence ==='3'" class="fullWidth top20">
        <span class="selectPreText selectLabel">{{language.every}}</span>
        <select ng-model="data.weekInterval" ng-options="week.id as week.name for week in weeks"></select>
        <span class="selectPostText selectLabel">{{language.weekOn}}</span>
    </div>

    <div ng-if="data.recurrence === '3' || data.recurrence === '2'" class="days">
        <label ng-repeat="day in days">
            <input type="checkbox" ng-checked="data.days.indexOf(day.id) >= 0" ng-click="toggleDay(day.id)" />{{day.name}}
        </label>
    </div>

    <div ng-if="data.recurrence === '5' || data.recurrence =='4'" class="fullWidth monthYearOption">
        <label ng-repeat="m in monthYearOptions">
            <input type="radio" name="rdMonthYearOption" ng-checked="data.monthYearOption === m.id" ng-click="selectMonthYearOption(m.id)" />{{m.name}}
        </label>
    </div>

    <div class="fullWidth">
        <select class="monthYearDD" ng-model="data.interval" ng-options="interval.id as interval.name for interval in intervals" ng-if="data.recurrence === '5' || data.recurrence =='4'" ng-disabled="data.monthYearOption === '1'"></select>
        <select class="monthYearDD" ng-model="data.weekDay" ng-options="day.id as day.name for day in days" ng-if="data.recurrence === '5' || data.recurrence =='4'" ng-disabled="data.monthYearOption === '1'"></select>
        <select class="monthYearDD" ng-model="data.month" ng-options="month.id as month.name for month in months" ng-if="data.recurrence === '5'" ng-disabled="data.monthYearOption === '1'"></select>
    </div>

    <div ng-if="data.recurrence =='4'" class="fullWidth monthOption">
        <label ng-repeat="mo in monthOptions">
            <input type="radio" name="rdMonthOption" ng-checked="data.monthOption === mo.id" ng-click="selectMonthOption(mo.id)" />{{mo.name}}
        </label>
    </div>

    <div ng-if="data.recurrence === '4' && data.monthOption === '2'" class="days">
        <label ng-repeat="month in months">
            <input type="checkbox" ng-checked="data.months.indexOf(month.id) >= 0" ng-click="toggleMonth(month.id)" />{{month.name}}
        </label>
    </div>

    <div class="divider" ng-if="data.recurrence > '1'"></div>

    <div class="fullWidth" ng-show="data.recurrence > '1'">
        <label>{{language.except}}</label>
        <div class="input-append date" data-inputfield="dateExcept" id="dateExceptWrapper">
            <input type="text" id="dateExcept" data-format="YYYY-MM-DD" name="exceptDate" />
            <span class="add-on"><i class="icon-calendar" data-date-icon="icon-calendar"></i></span>
            <button type="button" ng-click="addExceptDate()" class="btn">{{language.add}}</button>
        </div>
    </div>

    <div ng-if="data.recurrence > '1' && data.exceptDates.length > '0'" id="exceptedDays">
        <div ng-repeat="date in data.exceptDates" class="exceptDay">
            <span class="exDateWrap"><span class="exDate">{{date}}</span><button type="button" class="btn" ng-click="removeExceptDate(date)">{{language.remove}}</button></span>
        </div>
    </div>

</form>