<div ng-controller="KS.CalendarController">
    <div class="input-append date datepicker" id="StartDateWrapper" data-inputfield="dtStartDate">
        <label for="dtStartDate">{{language.startDate}}:</label><input type="text" data-format="yyyy-MM-dd hh:mm:ss" id="dtStartDate" ng-model="data.startDate" ng-required="true" />
        <span class="add-on">
            <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    <br />
    <div class="input-append date datepicker" id="EndDateWrapper" data-inputfield="dtEndDate">
        <label for="dtEndDate">{{language.endDate}}:</label><input type="text" data-format="yyyy-MM-dd hh:mm:ss" id="dtEndDate" ng-model="data.endDate" />
        <span class="add-on">
            <i class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
        </span>
    </div>
    <br />
    <div>
        <label>{{language.recursive}}</label>
        <select ng-model="data.recursive" ng-options="option.id as option.name for option in options"></select>
    </div>
    
    <div ng-if="data.recursive === '5' || data.recursive =='4'">
        <label ng-repeat="  m in monthYearOptions">
            <input type="radio" name="rdMonthYearOption" ng-checked="data.monthYearOption === m.id" ng-click="selectMonthYearOption(m.id)" />{{m.name}}
        </label>
    </div>


    <div ng-if="data.recursive ==='3'">
        {{language.every}}
            <select ng-model="data.weekInterval" ng-options="week.id as week.name for week in weeks"></select>
        {{language.weekOn}}:
    </div>



    <div ng-if="data.recursive === '3' || data.recursive === '2'">
        <label ng-repeat="day in days">
            <input type="checkbox" ng-checked="data.days.indexOf(day.id) >= 0" ng-click="toggleDay(day.id)" />{{day.name}}
        </label>
    </div>


    <select ng-model="data.interval" ng-options="interval.id as interval.name for interval in intervals" ng-if="data.recursive === '5' || data.recursive =='4'" ng-disabled="data.monthYearOption === '1'"></select>
    <select ng-model="data.weekDay" ng-options="day.id as day.name for day in days" ng-if="data.recursive === '5' || data.recursive =='4'" ng-disabled="data.monthYearOption === '1'"></select>
    <select ng-model="data.month" ng-options="month.id as month.name for month in months" ng-if="data.recursive === '5'" ng-disabled="data.monthYearOption === '1'"></select>


</div>