<div ng-controller="KS.CalendarController" name="calendarForm">
    <div class="fullWidth">
        <label>{{language.startDate}}</label>
        <umb-flatpickr ng-model="data.startDate"
                       options="dateTimeConfig"
                       on-change="model.startDatePickerChange(selectedDates, dateStr, instance)">
        </umb-flatpickr>
    </div>
    <div class="fullWidth">
        <label>{{language.endDate}}</label>
        <umb-flatpickr ng-model="data.endDate"
                       options="dateTimeConfig"
                       on-change="model.endDatePickerChange(selectedDates, dateStr, instance)">
        </umb-flatpickr>
    </div>
    <span class="help-inline" ng-if="model.endDateInvalid">{{language.endDateGreaterThanStartDate}}</span>
    <span class="help-inline" ng-if="model.endDateRequired">{{language.endDateRequired}}</span>
    <div class="fullWidth">
        <label>{{language.recurrence}}</label>
        <select class="full" ng-model="data.recurrence" ng-options="option.id as option.name for option in options"></select>
    </div>
    <div class="fullWidth" ng-show="data.recurrence > '1'">
        <label>{{language.recurUntil}}</label>
        <umb-flatpickr ng-model="data.recurUntil"
                       options="dateConfig"
                       on-change="model.recurUntilDatePickerChange(selectedDates, dateStr, instance)">
        </umb-flatpickr>
    </div>

    <div class="divider" ng-if="data.recurrence > '1'"></div>

    <div ng-if="data.recurrence ==='3'" class="fullWidth top20">
        <span class="selectPreText selectLabel">{{language.every}}</span>
        <select ng-model="data.weekInterval" ng-options="week.id as week.name for week in weeks"></select>
        <span class="selectPostText selectLabel">{{language.weekOn}}</span>
    </div>

    <div ng-if="data.recurrence === '3' || data.recurrence === '2'" class="days">
        <label ng-repeat="day in days">
            <input type="checkbox" ng-checked="data.days.indexOf(day.id) >= 0" ng-click="toggleDay(day.id)" />{{day.name}}
        </label>
    </div>

    <div ng-if="data.recurrence === '5' || data.recurrence =='4'" class="fullWidth monthYearOption">
        <label ng-repeat="m in monthYearOptions">
            <input type="radio" name="rdMonthYearOption" ng-checked="data.monthYearOption === m.id" ng-click="selectMonthYearOption(m.id)" />{{m.name}}
        </label>
    </div>

    <div class="fullWidth">
        <select class="monthYearDD" ng-model="data.interval" ng-options="interval.id as interval.name for interval in intervals" ng-if="data.recurrence === '5' || data.recurrence =='4'" ng-disabled="data.monthYearOption === '1'"></select>
        <select class="monthYearDD" ng-model="data.weekDay" ng-options="day.id as day.name for day in days" ng-if="data.recurrence === '5' || data.recurrence =='4'" ng-disabled="data.monthYearOption === '1'"></select>
        <select class="monthYearDD" ng-model="data.month" ng-options="month.id as month.name for month in months" ng-if="data.recurrence === '5'" ng-disabled="data.monthYearOption === '1'"></select>
    </div>

    <div ng-if="data.recurrence =='4'" class="fullWidth monthOption">
        <label ng-repeat="mo in monthOptions">
            <input type="radio" name="rdMonthOption" ng-checked="data.monthOption === mo.id" ng-click="selectMonthOption(mo.id)" />{{mo.name}}
        </label>
    </div>

    <div ng-if="data.recurrence === '4' && data.monthOption === '2'" class="days">
        <label ng-repeat="month in months">
            <input type="checkbox" ng-checked="data.months.indexOf(month.id) >= 0" ng-click="toggleMonth(month.id)" />{{month.name}}
        </label>
    </div>

    <div class="divider" ng-if="data.recurrence > '1'"></div>

    <div class="fullWidth" ng-show="data.recurrence > '1'">
        <label>{{language.except}}</label>
        <umb-flatpickr ng-model="model.exceptDate"
                       options="dateConfig"
                       on-change="model.exceptDatePickerChange(selectedDates, dateStr, instance)">
        </umb-flatpickr>
        <button type="button" ng-click="addExceptDate()" class="btn">{{language.add}}</button>
    </div>

    <div ng-if="data.recurrence > '1' && data.exceptDates.length > '0'" id="exceptedDays">
        <div ng-repeat="date in data.exceptDates" class="exceptDay">
            <span class="exDateWrap">
                <span class="exDate">{{date}}</span>
                <button type="button" class="btn" ng-click="removeExceptDate(date)">{{language.remove}}</button>
            </span>
        </div>
    </div>

</div>